@import '../utilities/variables.css';

.label {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
}

.form-control {
    margin: 15px 0;
}

.form-control__link {
    display: inline-block;
    margin: 15px 0;
}

/* Input and buttons styles */
input[type="text"],
input[type="password"], 
select {
    border: none;
    border-radius: 5px;
    display: block;
    padding: .8em 1.3em;
}

/* Input styles */ 
input[type="text"],
input[type="password"]{
    background-color: var(--input-bg);
    width: 100%;
}

input[type="text"]:hover,
input[type="password"]:hover{
    opacity: .6;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border-color: #000;
}

select {
    background-color: var(--input-bg);

}