@import '../utilities/variables.css';

button {
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: .8em 1.3em;
    font-weight: 700;
    cursor: pointer;
}

.primary-button {
    background-color: var(--primary-color);
    color: #fff;
}

.primary-button:hover {
    opacity: .8;
}