:root {
    --primary-color: #EE7B7B;
    --secondary-color: #6B6BEC;

    --input-bg: #f2f2f2;
    --gray-color-1: #828282;
    --gray-color-2: #F2F2F2;
    --gray-color-3: #BDBDBD;
    --red-color: #C62928;
    --bg-color: #FCCCCC;
}

