body {
    background-color: #fff;
}

.root {
    display: grid;
    grid-template-columns: minmax(250px, 250px) auto;
}

.sidebar {
    background-color: var(--primary-color);
    min-height: 100vh;
    color: #fff;
    padding: 1.5em;
}